{% extends "layout.html" %}
{% block content %}
  <div class='home'>
    <h1>Github Links</h1>
    <p>This button transfers you to GitHub Games</p>
    <h2>

    </h2>

    <h2>

    </h2>
<a href="https://goat-man1.github.io/test5/" target="_blank">
	<button>The Game With No Name Demo</button>
    </p>
    <h2>

    </h2>
    <a href="http://github-games.isacmorell.repl.co/links" target="_blank">
	<button>Not Avalible</button><h2>

    </h2>
    <a href="http://github-games.isacmorell.repl.co/links" target="_blank">
	<button>Not Avalible</button>
  
  </div>
{% endblock %}